@import 'base';


.column-one {
@include column;

.social-google {
  @include background;
  // @include flex-between;
  margin-bottom: 30px;
  .google-flex-box {
    @include flex-between;
  .google-header-left {
  
    align-items: center;
    .img-google {
      height: 64px;
      width: 64px;
    }
    .google-text {
      margin-left: 20px;
      @include subject;
      .subtitle {
        font-size: 16px;
        font-weight: 500;
        line-height: 19px;
      }
    }
  }
  .buttons {
    display: flex;
    align-items: center;
    .star-button + .kebab-button {
      margin-right: -24px;
      margin-left: 14px;
    }
    .star-button {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid $bright-gray;
      border-radius: 50%;
      padding: 0;
      background: transparent;
    }
    .kebab-button {
      height: 50px;
      width: 50px;
      background-color: $white;
      border: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
    }
    .tegs {
      .teg-gray {
        background-color: #F1F2F4;
        padding: 9px 14px 9px 14px;
        color: #65676D;
      }
      
      .teg-red {
        border: 1px solid #FF6C65;
        color: #FF6C65;
        padding: 9px 14px 9px 14px;
      }
    }
  }
  }
  .task-done-block {
    task-done {
      color: $gray;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      .bold-number {
        color: $black;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
      }
    }
  }
  .success {
    &-light-blue{
      background-color: $light-grayish-blue;
      height: 8px;
      border-radius: 10px;
    }
    &-blue {
      background-color: $dark-moderate-blue;
      width: 227px;
      height: 8px;
      border-radius: 10px;
    }
    
  }
  .tegs2 {
    display: flex;
    .teg-green {
      background-color: #F0F8EF;
      padding: 9px 25px 9px 25px;
      color: #60B158;
    
    }
    
    .teg-blue {
      background-color: #E6F2FF;
      padding: 9px 19px 9px 19px;
      color: #007AFF;
      margin-left: 12px;
    }
  }
  .people {
    display: flex;
    margin-left: 10px;
    .person-item {
      margin-left: -15px;
    }
    .circle-white {
      background-color: $white;
      height: 40px;
      width: 40px;
      border: 2px solid $very-light-gray;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      .cercle-white-five {
        margin: 11px;
      }
    }
  }
}
}



.social-slack {
  @include background;
  .slack-header{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    .slack-flex-box{
      @include flex-between;
      .slack-header-left{
        display: flex;
        align-items: center;
        margin-bottom: 30px;

        .img-slack {
          height: 64px;
          width: 64px;
        }
        .slack-text {
          margin-left: 20px;
          @include subject;
          .subtitle {
            font-size: 16px;
            font-weight: 500;
            line-height: 19px;
          }
        }
      }
      .buttons {
        display: flex;
        align-items: center;
        .star-button + .kebab-button {
          margin-right: -24px;
          margin-left: 14px;
        }
        .star-button {
          width: 40px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 2px solid $bright-gray;
          border-radius: 50%;
          padding: 0;
          background: transparent;
        }
        .kebab-button {
          height: 50px;
          width: 50px;
          background-color: $white;
          border: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0;
        }
      
      }
     
    }
  }
  .content-slack {
    .tegs {
      .slack-light-green-teg2 {
        background-color: #F0F8EF;
        padding: 9px 25px 9px 25px;
        color: #60B158;
      }
    }
    .success {
      &-light-pink {
        background-color: $light-grayish-pink;
        border-radius: 10px;
        height: 8px;
      }
      &-pink {
        background-color: $soft-pink;
        border-radius: 10px;
        height: 8px;
        width: 290px;
      }
    }

  .people {
    display: flex;
    margin-left: 10px;
    .person-item {
      margin-left: -15px;
    }
    .circle-white {
      background-color: $white;
      height: 40px;
      width: 40px;
      border: 2px solid $very-light-gray;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      .cercle-white-five {
        margin: 11px;
      }
    }
  }
}
}
  .tegs, .readiness, .tegs2, .people, .task-done {
    margin-bottom: 20px;
  }
  .teg {
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    border-radius: 6px;
    text-transform: uppercase;
    text-align: center;
  }

  .teg3-red {
    background-color: #FFF2EC;
    padding: 9px 15px 9px 15px;
    color: #FD7B38;
    width: 150px;
  }