@import 'base';

.column-two {
  @include column;
  .tasks {
    @include background;
    padding: 20px 0;
    .tasks-header {
      padding: 16px 20px;
      @include flex-between;
      .title {
        display: flex;   
        .span-my-tasks {
          color: $gray;
          font-size: 20px;
          font-weight: 600;
          line-height: 24px;
          margin-left: 10px;
        }

      }
    }

    .container-tasks {
      display: block;
      .task {
        border-bottom: 2px solid $very-light-gray;
        padding: 16px 20px;
        @include flex-between;
        align-items: center;
        .row-task {
          display: flex;
          .number-task {
            color: $gray;
            font-size: 18px;
            font-weight: 600;
            line-height: 22px;
          }
          .name-task {
            color: $gray;
            font-size: 18px;
            font-weight: 600;
            line-height: 22px;
            margin-left: 20px;
          }
        }
        .button-tasks {
          display: flex;
          width: 100px;
          align-items: center;
          gap: 20px;
          .button-task {
            @include discharge;
          }
        }
        .done-task {
          @include discharge;
        }
      }
    }
  }
    .line-through {
      text-decoration: line-through;
    }
    .white-button {
      @include discharge;
    }

  .player {
    @include background;
    padding: 20px 0;
    .audio-header {
      @include flex-between;
      padding: 16px 48px 16px 30px;
      align-items: center;
      h2 {
        @include subject;
      }
      .play-button {
        width: 36px;
        height: 36px;
      }
    }

    .audio-player {
      @include flex-between;
      padding: 10px 20px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      align-items: center;
      &:first-child {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
      }
      .left-block {
        align-items: center;
      }
      .right-block {
        align-items: center;
        .name-audio, .time-audio {
          color: #65676D;
          font-size: 14px;
          font-weight: 500;
          line-height: 17px;
          margin-left: 10px;
        }
        .orange-button {
          background-color: $very-pale-orange;
          border: none;
        }
      }
    }

    .orange-container {
      background-color: $very-pale-orange;
      border-left: 6px solid $orange;
      border-bottom: none;
    }
  }
}

.time-audio-google {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  margin-right: 10px;
}
.play-button {
  width: 36px;
  height: 36px;
}

.more-button {
  margin-left: 4px;
}