@font-face {
  font-family: "SF Pro Text";
  src: url(../fonts/SF-UI-Text-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "SF Pro Text";
  src: url(../fonts/SF-UI-Text-Semibold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "SF Pro Text";
  src: url(../fonts/SF-UI-Text-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "SF Pro Text";
  src: url(../fonts/SF-UI-Text-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "SF Pro Text";
  src: url(../fonts/SF-UI-Text-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "SF Pro Text";
  src: url(../fonts/SF-UI-Text-Semibold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "SF Pro Text";
  src: url(../fonts/SF-UI-Text-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "SF Pro Text";
  src: url(../fonts/SF-UI-Text-Regular.ttf);
  font-weight: 400;
}

.nav-block {
  background-color: #FFFFFF;
  border-radius: 20px;
  padding: 30px;
  padding: 40px 0px;
}

.nav-block .logo {
  display: block;
  margin: 0 auto;
}

.nav-block .nav {
  margin-top: 60px;
  list-style-type: none;
}

.nav-block .nav-icon {
  width: 28px;
  height: 28px;
  margin-right: 25px;
}

.nav-block .nav-link {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  color: #65676D;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  padding: 20px;
}

.nav-block .nav-link:hover {
  color: #FD7B38;
  background-color: #FFF4EE;
  border-right: 6px solid #FD7B38;
}

.row-search {
  background-color: #FFFFFF;
  border-radius: 20px;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.row-search .search-bar {
  background: #F7F6F4;
  width: 240px;
  left: 30px;
  top: 20px;
  border-radius: 30px;
  padding: 8px 125px 8px 20px;
}

.row-search .search-bar .placeholder {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  background-color: transparent;
}

.row-search .settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row-search .settings .user-notifications {
  width: 24px;
  height: 24px;
  margin-right: 30px;
}

.row-search .settings .user-notifications .button-bell {
  background-color: #FFFFFF;
  border: none;
}

.row-search .settings .user-settings-button {
  background-color: #FFFFFF;
  border: none;
}

@font-face {
  font-family: "SF Pro Text";
  src: url(../fonts/SF-UI-Text-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "SF Pro Text";
  src: url(../fonts/SF-UI-Text-Semibold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "SF Pro Text";
  src: url(../fonts/SF-UI-Text-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "SF Pro Text";
  src: url(../fonts/SF-UI-Text-Regular.ttf);
  font-weight: 400;
}

.column-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.column-one .social-google {
  background-color: #FFFFFF;
  border-radius: 20px;
  padding: 30px;
  margin-bottom: 30px;
}

.column-one .social-google .google-flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.column-one .social-google .google-flex-box .google-header-left {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.column-one .social-google .google-flex-box .google-header-left .img-google {
  height: 64px;
  width: 64px;
}

.column-one .social-google .google-flex-box .google-header-left .google-text {
  margin-left: 20px;
  font-size: 20px;
  font-weight: 700;
}

.column-one .social-google .google-flex-box .google-header-left .google-text .subtitle {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}

.column-one .social-google .google-flex-box .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.column-one .social-google .google-flex-box .buttons .star-button + .kebab-button {
  margin-right: -24px;
  margin-left: 14px;
}

.column-one .social-google .google-flex-box .buttons .star-button {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #E1E1E1;
  border-radius: 50%;
  padding: 0;
  background: transparent;
}

.column-one .social-google .google-flex-box .buttons .kebab-button {
  height: 50px;
  width: 50px;
  background-color: #FFFFFF;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.column-one .social-google .google-flex-box .buttons .tegs .teg-gray {
  background-color: #F1F2F4;
  padding: 9px 14px 9px 14px;
  color: #65676D;
}

.column-one .social-google .google-flex-box .buttons .tegs .teg-red {
  border: 1px solid #FF6C65;
  color: #FF6C65;
  padding: 9px 14px 9px 14px;
}

.column-one .social-google .task-done-block task-done {
  color: #65676D;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.column-one .social-google .task-done-block task-done .bold-number {
  color: #000000;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.column-one .social-google .success-light-blue {
  background-color: #E8EAF2;
  height: 8px;
  border-radius: 10px;
}

.column-one .social-google .success-blue {
  background-color: #545DAD;
  width: 227px;
  height: 8px;
  border-radius: 10px;
}

.column-one .social-google .tegs2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.column-one .social-google .tegs2 .teg-green {
  background-color: #F0F8EF;
  padding: 9px 25px 9px 25px;
  color: #60B158;
}

.column-one .social-google .tegs2 .teg-blue {
  background-color: #E6F2FF;
  padding: 9px 19px 9px 19px;
  color: #007AFF;
  margin-left: 12px;
}

.column-one .social-google .people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
}

.column-one .social-google .people .person-item {
  margin-left: -15px;
}

.column-one .social-google .people .circle-white {
  background-color: #FFFFFF;
  height: 40px;
  width: 40px;
  border: 2px solid #ECECEC;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.column-one .social-google .people .circle-white .cercle-white-five {
  margin: 11px;
}

.social-slack {
  background-color: #FFFFFF;
  border-radius: 20px;
  padding: 30px;
}

.social-slack .slack-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.social-slack .slack-header .slack-flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-slack .slack-header .slack-flex-box .slack-header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.social-slack .slack-header .slack-flex-box .slack-header-left .img-slack {
  height: 64px;
  width: 64px;
}

.social-slack .slack-header .slack-flex-box .slack-header-left .slack-text {
  margin-left: 20px;
  font-size: 20px;
  font-weight: 700;
}

.social-slack .slack-header .slack-flex-box .slack-header-left .slack-text .subtitle {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}

.social-slack .slack-header .slack-flex-box .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-slack .slack-header .slack-flex-box .buttons .star-button + .kebab-button {
  margin-right: -24px;
  margin-left: 14px;
}

.social-slack .slack-header .slack-flex-box .buttons .star-button {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #E1E1E1;
  border-radius: 50%;
  padding: 0;
  background: transparent;
}

.social-slack .slack-header .slack-flex-box .buttons .kebab-button {
  height: 50px;
  width: 50px;
  background-color: #FFFFFF;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.social-slack .content-slack .tegs .slack-light-green-teg2 {
  background-color: #F0F8EF;
  padding: 9px 25px 9px 25px;
  color: #60B158;
}

.social-slack .content-slack .success-light-pink {
  background-color: #F5ECF2;
  border-radius: 10px;
  height: 8px;
}

.social-slack .content-slack .success-pink {
  background-color: #E257B3;
  border-radius: 10px;
  height: 8px;
  width: 290px;
}

.social-slack .content-slack .people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
}

.social-slack .content-slack .people .person-item {
  margin-left: -15px;
}

.social-slack .content-slack .people .circle-white {
  background-color: #FFFFFF;
  height: 40px;
  width: 40px;
  border: 2px solid #ECECEC;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-slack .content-slack .people .circle-white .cercle-white-five {
  margin: 11px;
}

.tegs, .readiness, .tegs2, .people, .task-done {
  margin-bottom: 20px;
}

.teg {
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  border-radius: 6px;
  text-transform: uppercase;
  text-align: center;
}

.teg3-red {
  background-color: #FFF2EC;
  padding: 9px 15px 9px 15px;
  color: #FD7B38;
  width: 150px;
}

@font-face {
  font-family: "SF Pro Text";
  src: url(../fonts/SF-UI-Text-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "SF Pro Text";
  src: url(../fonts/SF-UI-Text-Semibold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "SF Pro Text";
  src: url(../fonts/SF-UI-Text-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "SF Pro Text";
  src: url(../fonts/SF-UI-Text-Regular.ttf);
  font-weight: 400;
}

.column-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.column-two .tasks {
  background-color: #FFFFFF;
  border-radius: 20px;
  padding: 30px;
  padding: 20px 0;
}

.column-two .tasks .tasks-header {
  padding: 16px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.column-two .tasks .tasks-header .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.column-two .tasks .tasks-header .title .span-my-tasks {
  color: #65676D;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  margin-left: 10px;
}

.column-two .tasks .container-tasks {
  display: block;
}

.column-two .tasks .container-tasks .task {
  border-bottom: 2px solid #ECECEC;
  padding: 16px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.column-two .tasks .container-tasks .task .row-task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.column-two .tasks .container-tasks .task .row-task .number-task {
  color: #65676D;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
}

.column-two .tasks .container-tasks .task .row-task .name-task {
  color: #65676D;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  margin-left: 20px;
}

.column-two .tasks .container-tasks .task .button-tasks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.column-two .tasks .container-tasks .task .button-tasks .button-task {
  background-color: #FFFFFF;
  border: none;
}

.column-two .tasks .container-tasks .task .done-task {
  background-color: #FFFFFF;
  border: none;
}

.column-two .line-through {
  text-decoration: line-through;
}

.column-two .white-button {
  background-color: #FFFFFF;
  border: none;
}

.column-two .player {
  background-color: #FFFFFF;
  border-radius: 20px;
  padding: 30px;
  padding: 20px 0;
}

.column-two .player .audio-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px 48px 16px 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.column-two .player .audio-header h2 {
  font-size: 20px;
  font-weight: 700;
}

.column-two .player .audio-header .play-button {
  width: 36px;
  height: 36px;
}

.column-two .player .audio-player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.column-two .player .audio-player:first-child {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.column-two .player .audio-player .left-block {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.column-two .player .audio-player .right-block {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.column-two .player .audio-player .right-block .name-audio, .column-two .player .audio-player .right-block .time-audio {
  color: #65676D;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  margin-left: 10px;
}

.column-two .player .audio-player .right-block .orange-button {
  background-color: #FFF2EC;
  border: none;
}

.column-two .player .orange-container {
  background-color: #FFF2EC;
  border-left: 6px solid #FD7B38;
  border-bottom: none;
}

.time-audio-google {
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  margin-right: 10px;
}

.play-button {
  width: 36px;
  height: 36px;
}

.more-button {
  margin-left: 4px;
}

@font-face {
  font-family: "SF Pro Text";
  src: url(../fonts/SF-UI-Text-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "SF Pro Text";
  src: url(../fonts/SF-UI-Text-Semibold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "SF Pro Text";
  src: url(../fonts/SF-UI-Text-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "SF Pro Text";
  src: url(../fonts/SF-UI-Text-Regular.ttf);
  font-weight: 400;
}

.column-three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.column-three .calendar {
  background-color: #FFFFFF;
  border-radius: 20px;
  padding: 30px;
}

.column-three .calendar .datepicker-top {
  margin-bottom: 47px;
}

.column-three .calendar .datepicker-top .month-selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.column-three .calendar .datepicker-top .month-selector .month-name {
  font-size: 28px;
  font-weight: 700;
  line-height: 33px;
}

.column-three .calendar .datepicker-top .month-selector .button-left-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.column-three .calendar .datepicker-top .month-selector .button-left-right .button-left {
  background-color: #FFFFFF;
  border: none;
}

.column-three .calendar .datepicker-top .month-selector .button-left-right .button-right {
  background-color: #FFFFFF;
  border: none;
}

.column-three .calendar .datepicker-calendar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  grid-row-gap: 1rem;
}

.column-three .calendar .datepicker-calendar button {
  font: inherit;
  cursor: pointer;
}

.column-three .calendar .datepicker-calendar button:focus {
  outline: 0;
}

.column-three .calendar .datepicker-calendar .day {
  -ms-grid-column-align: center;
      justify-self: center;
  color: #000000;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}

.column-three .calendar .datepicker-calendar .date {
  justify-self: center;
  color: #65676D;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  padding: 0;
  width: 2.25rem;
  height: 2.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 6px;
  font-weight: 600;
  border: 2px solid transparent;
  background-color: transparent;
  cursor: pointer;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.column-three .calendar .datepicker-calendar .date:focus {
  outline: 0;
  color: #FD7B38;
  border: 2px solid var(--c-theme-primary-accent);
}

.column-three .calendar .datepicker-calendar .date .dot-orange {
  border-radius: 50%;
  background-color: #FD7B38;
  height: 6px;
  width: 6px;
  left: 15px;
}

.column-three .calendar .datepicker-calendar .date .dot-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.column-three .calendar .datepicker-calendar .date .dot-date .dot-blue {
  border-radius: 50%;
  background-color: #007AFF;
  height: 6px;
  width: 6px;
  left: 20px;
}

.column-three .calendar .datepicker-calendar .date .dot-date .dot-yellow {
  border-radius: 50%;
  background-color: #FBBC04;
  height: 6px;
  width: 6px;
  left: 10px;
  margin-left: 4px;
}

.column-three .calendar .datepicker-calendar .current-day {
  height: 36px;
  width: 36px;
  left: 6px;
  top: 94px;
  border-radius: 100px;
  color: #FFFFFF;
  border-color: #FD7B38;
  background-color: #FD7B38;
}

.column-three .calendar .datepicker-calendar .current-day-day:focus {
  background-color: var(--c-theme-primary-accent);
}

.column-three .calendar .datepicker-calendar .faded {
  opacity: 30%;
  color: var(--c-text-secondary);
}

.column-three .messages {
  background-color: #FFFFFF;
  border-radius: 20px;
  padding: 30px;
}

.column-three .messages-title {
  margin-bottom: 16px;
}

.column-three .messages-title h2 {
  font-size: 20px;
  font-weight: 700;
}

.column-three .messages-container {
  margin-left: -30px;
  margin-right: -30px;
}

.column-three .messages-container .message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 12px 30px;
}

.column-three .messages-container .message .card-message {
  margin-left: 20px;
}

.column-three .messages-container .message .name {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}

.column-three .messages-container .message .text-message {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

html {
  height: 100%;
}

html body {
  font-family: "SF Pro Text";
  height: 100%;
}

html body .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1920px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  gap: 40px;
  background-color: #E5E5E5;
}

html body .container aside {
  width: 318px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

html body .container aside.nav-block {
  padding: 40px 0px;
}

html body .container .wrapper {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

html body .container .wrapper .row {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
/*# sourceMappingURL=style.css.map */